@import url("https://fonts.googleapis.com/css?family=Reem+Kufi|Teko");
@import "typography";
@import "layout";
@import "components";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #fff;
}

.c-nav {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-links {
    a {
      font-family: "Reem Kufi", sans-serif;
      font-size: 18px;
      color: #080808;
      padding: 0 15px;
    }
  }
}
