.c-nav {
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.nav-links {
		a {
			font-family: "Reem Kufi", sans-serif;
			font-size: 18px;
			color: #080808;
			padding: 0 15px;
		}
	}
}

.wrapper {
	overflow-x: hidden;
}

.moving-boxes-container {
	width: 300vw;
	display: flex;
	.c-moving-box {
		height: 600px;
		width: 100vw;
	}
}

.c-moving-box:nth-child(1) {
	background: #e1e4ea;
	position: absolute;
	left: -100vw;
}
.c-moving-box:nth-child(2) {
	background: red;
	position: absolute;
	left: -100vw;
}
.c-moving-box:nth-child(3) {
	background: #ebe7e4;
}
